.container {
    margin: 50px;
}

.user {
    display: flex;
    margin: 10px;
}

.ava {
    height: 100%;
    width: 100%;
    max-height: 150px;
    max-height: 150px;
    border-radius: 100px;
}

.userInfoSecondPart {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

.info {
    display: flex;
    flex-direction: column;
}

.info span {
    margin: 20px;
}

.pages {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    overflow: hidden;
}

.pages span {
    margin: 0 20px 0 0;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    font-size: 20px;
}