.friend {
    margin: 5px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}